@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$blue-text: #0a1e75;
$light-blue: #00c0cd;
$border-grey: #eaeaea;

.search-overlay {
  border: none;
  background: transparent;
}

.results {
  .no-results {
    margin: 10em 0;
  }
}

a {
  text-decoration: none;
  color: $light-blue;
  &:hover {
    text-decoration: none;
  }
}

#auctiontable {
  #tablecrop {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
  }
  img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 300px;
  }
}

.info {
  .side {
    border-left: 1px $border-grey solid;
    padding-left: 25px;
    margin-left: 15px;
  }
}

.detail {
  margin-bottom: 30px;
  .side {
    text-align: right;
    #title {
      border-bottom: 1px solid $border-grey;
    }
    .bid {
      p, h3 {
        padding-right: 15px;
      }
      border: solid 1px $border-grey;
      margin-top: 140px;
      #bluebid {
        padding: 20px 15px 20px 0;
        background-color: $light-blue;
        #bid {
          margin-right: 20px;
        }

      }
      input {
        width: 40%;
        height: 40px;
      }
    }
  }
  .imagecol {
    height: 500px;
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.art {
  .filter-wrapper {
    margin-bottom: 2em;
  }

  .filter {
    display: none;
    ul {
      list-style-type: none;
      a {
        color: black;
      }
    }

  }
  .advanced {
    h3 {
      margin: 0;
      cursor: pointer;
    }
  }
  .sort {
    a {
      border-right: 1px solid black;
      color: black;
      padding-right: .4em;
      &:last-child {
        border: none;
      }
    }
  }
  .col-lg-4 {
    padding-left: 30px;
  }
  .artwork {
    background-repeat: no-repeat;
    height: 350px;
    margin-bottom: 78px;
    img {
      width: 100%;
    }
    h4, p {
      margin: 0 5%;
    }
    .details {
      margin-bottom: 25px;
    }
    .crop {
      height: 240px;
      overflow: hidden;
      margin-bottom: 1em;
    }
    .underline {
      width: 100%;
      margin-left: 0;
      border-bottom: 1px solid $border-grey;
      height: 34px;
      .btn {
        border-radius: 0;
        background-color: $border-grey;
        color: $blue-text;
      }
      div:first-child {
        bottom: -8px;
        left: 15px;
      }
    }
  }
  #portrait {
    background: url('../img/portrait.jpg');
    height: 800px;
    background-size: 150%;
    background-repeat: no-repeat;
    p {
      background: linear-gradient(to top, rgba(217, 235, 235, 1) 0%, rgba(217, 235, 235, 0.8) 70%, rgba(217, 235, 235, 0) 100%);
      padding: 10em 4em 2em;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 0;
      z-index: 20;

    }
    .overlay {
      background: #d9ebeb;
      height: 100%;
      width: 100%;
      opacity: .6;
      top: 0;
      left: 0;
      position: absolute;
      padding: 0;
    }
  }

}

.detail {
  img {
    width: 100%;
  }
}

.auction-header {
  line-height: 63px;
}

.new-auction {
  h2 {
    margin-bottom: 1em;
  }
}

.spotlight {
  background-image: url('../img/caroussel.jpg');
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  background-position: 0px;
  z-index: -1;
  margin-bottom: 40px;

  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.spotlight-content {
  position: absolute;
  top: 180px;
  color: white;
  background-color: rgba(1, 32, 166, 0.65);
  .visit {
    background-color: white;
    color: $light-blue;
    width: 100%;
    position: absolute;
    padding: 1em 0 1em 1.4em;
    left: 0;
    h3 {
      float: left;
    }
    .glyphicon {
      margin: 26px 0 0 .5em;
    }
  }
  & > h2 {
    border-bottom: 1px solid $border-grey;
    padding-bottom: .5em;
    padding-left: .2em;
    width: 100%;
    display: inline-block;
  }
  p {
    padding: 1em .5em;
  }
}

.header-strip {
  background-color: $border-grey;
  height: 50px;

  .nav {
    margin-top: 4px;
  }
}

#header {
  height: 50px;
  &:before {
    content: "";
    background: #01a6a0;
    width: 100%;
    height: 4px;
  }
  .search {
    margin-top: 5px;
  }
}

.logo {
  width: 103px;
  height: 140px;
  background: white;
  box-shadow: 0 0 75px 15px rgba(1, 1, 1, 0.2);
  margin-bottom: -44px;
  z-index: 3;
}

.uppernav {
  height: 46px;
  line-height: 46px;
  .nav-elements {
    padding: 0 10px 0 0;
    margin-right: 5px;
    color: $blue-text;
    border-right: 1px solid;

    &#login, &#logout {
      border: none;
    }

  }
  &#loginform {
    display: none;
    div {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
}

.carousel {
  z-index: -1;
  .carousel-inner {
    margin-top: 0;
    height: 800px;
    .item {
      img {
        margin: 0 auto;
        overflow: hidden;
      }
    }
  }
}

.carousel-content {
  background-color: rgba(1, 32, 166, 0.65);
  color: white;
  padding: 2em 3em;
  position: absolute;
  top: 650px;
}

#work {
  margin: 20px 0;
}

#popular {
  background-color: $light-blue;
  #pophead {
    margin-right: 10px;
  }
  .glyphicon-expand {
    top: 30px;
    right: 300px;
    position: absolute;
  }
}

#map {
  margin: 20px 0;
  padding-top: 20px;
  border-top: solid 1px $border-grey;
  h4 {
    margin-bottom: 2px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  #right {
    h4 {
      margin-bottom: 10px;
    }
  }
}

.verticalline {
  border-left: solid 1px $border-grey;
  position: absolute;
  height: 393px;
  top: -20px;
  left: -50px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: $border-grey;

  .logo {
    position: absolute;
    top: -91px;
  }
  .wrapper {
    height: 50px;
  }

  &:after {
    content: "";
    background: #01a6a0;
    width: 100%;
    height: 4px;
    margin-bottom: 0px;
  }
}


